body {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

.highlight {
    color: #DAA520;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}
